.SearchBar{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: rgba(214, 214, 214, 0.2);
  border-radius: 10px;
  box-shadow: 0 0.05rem 0.05rem rgb(34 34 34 / 5%), 0 0.2rem 0.8rem rgb(34 34 34 / 8%);
  margin-bottom: 1.5em;
  overflow: hidden;
  height: 40px;
}
.SearchBox {
  background-color: white;
  height: 100%;
  flex: 1;
  padding-left: 10px;
}

.SearchBar button {
  width: 10%;
  border: none;
  max-width: 40px;
  background-color: black;
  color: white;
}
