.container {
  display: flex;
  flex-direction: column;
  width: 33%;
  box-shadow: 0 0.05rem 0.05rem rgb(34 34 34 / 5%), 0 0.2rem 0.8rem rgb(34 34 34 / 8%);
  border-radius: 10px;
  border: 0.05rem solid #eee;
  background: #fff;
  cursor: pointer;
  transition: all ease 0.3s;
  padding: 1em;
  margin: 0.5rem;
  max-width: 220px;
  max-height: 200px;
  overflow: hidden;
  justify-content: space-between;
}

.container:hover {
  transform: translateY(-0.1rem);
}

.projectTitle {
  display: flex;
  margin-bottom: 5px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  padding-left: 0.8rem;
}

.projectIconWrapper {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
}

.projectIconWrapper img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  box-shadow: 0 0.5rem 1.2rem rgb(34 34 34 / 20%);
}

.projectName {
  font-weight: bold;
  font-size: 0.9rem;
}

.projectCategory {
  font-weight: lighter;
  color: #888;
  font-size: 0.7rem;
}

.projectSubtitle {
  color: #222;
  font-size: 0.7rem;
  margin: 1em 0;
  height: 30px;
}

.socialIconsContainer {
  display: flex;
}

.socialIconsContainer svg {
  margin-right: 10px;
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
    max-width: 80%;
  }
}