.container {
  width: 70%;
  color: black;
  margin: auto;
}
.container iframe {
  width: 100%;
  height: 100%;
  /* color: black; */
}

.pageHeader {
  margin-top: 2em;
  margin-bottom: 2em;
}

.pageHeader h1{
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.pageHeader h1 a {
  margin-left: 15px;
  margin-top: 8px;
}

@media screen and (max-width: 850px) {
  .container{
    width: 90%;
  }
}